body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
    background: linear-gradient(to right, #1f7ede, #1f7efe);
    -webkit-background-clip: text;
    color: transparent;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1f7ede;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

button i {
    margin-right: 5px;
}

#loading {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#dailyGenerated {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    background: linear-gradient(to right, #1f7ede, #1f7efe);
    -webkit-background-clip: text;
    color: transparent;
}

a.button {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #1f7ede;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

a.button i {
    margin-right: 5px;
}
